<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandsFree</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <main>
      <div id="welcome"> 
        <form id="enter">
          <!-- <form> -->
            <!-- <input placeholder="room name" required type="text"> -->
            <button>입장하기</button>
          <!-- </form> -->
        </form>
      </div>
        <div id="room" style="margin-left: 900px; width: 300px;" >
          <button onclick="exit_room()">회의종료</button>
          <div id="chat" class="chat">
            <h2>기록중</h2>
            <ul></ul>
          </div>
        </div>
        <div id="call">
          <div id="myStream" class="chat">
            <div style="position: absolute; top:20%; left: 10%;">
              <video id="myFace" autoplay playsinline width="400" height="400"></video>
              <div>
                <button id="mute">음소거</button>
                <button id="camera">카메라 끄기</button>
              </div>
            </div>
              <video id="peerFace" autoplay playsinline width="400" height="400" style="position: absolute; top:20%; left: 40%;"></video>
          </div>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"> </script>
    <script src="/public/js/app.js"> </script>
  </body>
</html>